//Import utils
@import 'utils/variables';

// Base settings
@import 'base/base';

// import layouts
@import 'layouts/header';
@import 'layouts/page';
@import 'layouts/main-block';
@import 'layouts/body-main-block';
@import 'layouts/how';

// Import components
@import 'components/menu';
@import 'components/content-main-block';
@import 'components/form-main-block';
@import 'components/partners-main-block';
@import 'components/slider-main-block';
@import 'components/title';
@import 'components/item-how';

@import 'components/menu-container';
@import 'components/logo';
@import 'components/nav-navigation';
@import 'components/menu-button';
@import 'components/button-auth';
@import 'components/main-nav';
@import 'components/m.scss';
