.form-main-block {
  position: relative;
  z-index: 2;
  display: flex;
  height: 86px;
  margin-right: -188px;

  background: #fff url('../../images/svg/house.svg') 0 0 no-repeat;

  box-shadow: 0px 100px 80px rgba(0, 0, 0, 0.03), 0px 64.8148px 46.8519px rgba(0, 0, 0, 0.0227778),
    0px 38.5185px 25.4815px rgba(0, 0, 0, 0.0182222), 0px 20px 13px rgba(0, 0, 0, 0.015),
    0px 8.14815px 6.51852px rgba(0, 0, 0, 0.0117778),
    0px 1.85185px 3.14815px rgba(0, 0, 0, 0.00722222);
}

.form-main-block__input {
  flex: 1 1 auto;
  width: 100%;
  padding: 0px 0px 0px 74px;
  background-color: transparent;

  border: 1px solid $color-border;

  font-size: 20px;
  line-height: calc(27 / 20);
  letter-spacing: 0.01em;

  &::placeholder {
    color: $color-logo;
    opacity: 0.3;
  }
}

.form-main-block__button {
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 0 0 188px;
  width: 188px;
  padding: 5px 15px;
  background-color: $color-back-button;
  cursor: pointer;

  font-weight: 700;
  color: #ffffff;
  font-size: 17px;
  line-height: calc(23 / 17);
  letter-spacing: 0.01em;

  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  //border: 1px solid #000000;
}
