.main-block{}

.main-block__body{
    margin-bottom: 14px;
}

.main-block__container{
    padding-top: 183px;
    position: relative;
    &::after{
        content: "";
        position: absolute;
        top: 0;
        //right: 0;
        left: 67%;
        width: 200%;
        height: 100%;
        
        background-color: $color-main-background;
    }
}